.tiles {
  padding-left: 6vw;
  padding-right: 10vw;
  display: grid;
  grid-template-columns: repeat(16, 64px);
  grid-template-rows: repeat(8, 64px);
  grid-gap: 8px;
  overflow-x: auto;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(12, 64px);
    grid-template-rows: repeat(10, 64px);
  }

  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(10, 64px);
    grid-template-rows: repeat(8, 64px);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(12, 64px);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(6, 64px);
    grid-template-rows: repeat(16, 64px);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: repeat(8, 64px);
  }
}

$tileClass: '.tile';

#{$tileClass} {
  cursor: pointer;
  position: relative;
  padding: 10px;
  background-size: cover;
  background-position: center;
  background-color: #666;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;

  &:hover {
    #{$tileClass}-border {
      border-color: white !important;
    }
  }

  .loading & {
    opacity: 0;
  }

  &--small {
    grid-area: span 1 / span 1;

    #{$tileClass}-name {
      display: none;
    }
  }

  &--medium {
    grid-area: span 2 / span 4;

    #{$tileClass}-icon {
      font-size: 60px;
    }

    @media screen and (max-width: 1024px) {
      grid-area: span 2 / span 2;
    }

    @media screen and (max-width: 480px) {
      grid-area: span 1 / span 1;

      #{$tileClass}-icon {
        font-size: 30px;
      }

      #{$tileClass}-name {
        display: none;
      }
    }

    &-square {
      grid-area: span 2 / span 2;

      #{$tileClass}-icon {
        font-size: 60px;
      }

      @media screen and (max-width: 480px) {
        grid-area: span 1 / span 1;

        #{$tileClass}-icon {
          font-size: 30px;
        }

        #{$tileClass}-name {
          display: none;
        }
      }
    }
  }

  &--large {
    grid-area: span 4 / span 4;

    @media screen and (max-width: 1024px) {
      grid-area: span 2 / span 2;
    }

    @media screen and (max-width: 480px) {
      grid-area: span 1 / span 1;

      #{$tileClass}-icon {
        font-size: 30px;
      }

      #{$tileClass}-name {
        display: none;
      }
    }

    #{$tileClass}-icon {
      font-size: 120px;
    }
  }

  &--sidebar {
    @media screen and (min-width: 1281px) {
      left: 4vw;
    }
  }

  &-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-width: 3px;
    border-style: solid;
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
}
